trunk/SourceCode/SilverlightBookDemo3/SilverlightBookDemo2/Service References/ServiceReference1/ServiceDNN3.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:4452/ServiceDNN3.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/SilverlightBookDemo2.Web" />
  <xs:element name="DoWork">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="DoWorkResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetAllArticles">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetAllArticlesResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/SilverlightBookDemo2.Web" minOccurs="0" name="GetAllArticlesResult" nillable="true" type="q1:ArrayOfdnn_NewNews_Article" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetAllEmps">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetAllEmpsResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/SilverlightBookDemo2.Web" minOccurs="0" name="GetAllEmpsResult" nillable="true" type="q2:ArrayOfEMP_BASIC_INFO" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Get_AllArticles">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="Get_AllArticlesResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q3="http://schemas.datacontract.org/2004/07/SilverlightBookDemo2.Web" minOccurs="0" name="Get_AllArticlesResult" nillable="true" type="q3:ArrayOfArticle" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>