trunk/SourceCode/SilverlightBookDemo3/SilverlightBookDemo2/Service References/ServiceReference1/ServiceDNN311.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/SilverlightBookDemo2.Web" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/SilverlightBookDemo2.Web" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="ArrayOfdnn_NewNews_Article">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="dnn_NewNews_Article" nillable="true" type="tns:dnn_NewNews_Article" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfdnn_NewNews_Article" nillable="true" type="tns:ArrayOfdnn_NewNews_Article" />
  <xs:complexType name="dnn_NewNews_Article">
    <xs:sequence>
      <xs:element minOccurs="0" name="ArticleID" type="xs:int" />
      <xs:element minOccurs="0" name="CatID" nillable="true" type="xs:int" />
      <xs:element minOccurs="0" name="Content" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="CreatedByUser" type="xs:int" />
      <xs:element minOccurs="0" name="CreatedDate" type="xs:dateTime" />
      <xs:element minOccurs="0" name="Image" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Summary" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Title" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="dnn_NewNews_Category" nillable="true" type="tns:dnn_NewNews_Category" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="dnn_NewNews_Article" nillable="true" type="tns:dnn_NewNews_Article" />
  <xs:complexType name="dnn_NewNews_Category">
    <xs:sequence>
      <xs:element minOccurs="0" name="CatID" type="xs:int" />
      <xs:element minOccurs="0" name="CreatedByUser" type="xs:int" />
      <xs:element minOccurs="0" name="CreatedDate" type="xs:dateTime" />
      <xs:element minOccurs="0" name="Description" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Image" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Title" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="dnn_NewNews_Articles" nillable="true" type="tns:ArrayOfdnn_NewNews_Article" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="dnn_NewNews_Category" nillable="true" type="tns:dnn_NewNews_Category" />
  <xs:complexType name="ArrayOfEMP_BASIC_INFO">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="EMP_BASIC_INFO" nillable="true" type="tns:EMP_BASIC_INFO" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfEMP_BASIC_INFO" nillable="true" type="tns:ArrayOfEMP_BASIC_INFO" />
  <xs:complexType name="EMP_BASIC_INFO">
    <xs:sequence>
      <xs:element minOccurs="0" name="EMP_CONTACT" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="EMP_EMAIL_ID" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="EMP_FIRST_NAME" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="EMP_ID" type="xs:long" />
      <xs:element minOccurs="0" name="EMP_LAST_NAME" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="EMP_BASIC_INFO" nillable="true" type="tns:EMP_BASIC_INFO" />
  <xs:complexType name="ArrayOfArticle">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="Article" nillable="true" type="tns:Article" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfArticle" nillable="true" type="tns:ArrayOfArticle" />
  <xs:complexType name="Article">
    <xs:sequence>
      <xs:element minOccurs="0" name="ArticleID" type="xs:int" />
      <xs:element minOccurs="0" name="CatID" nillable="true" type="xs:int" />
      <xs:element minOccurs="0" name="Content" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="CreatedByUser" type="xs:int" />
      <xs:element minOccurs="0" name="CreatedDate" type="xs:dateTime" />
      <xs:element minOccurs="0" name="Image" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Summary" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Title" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Article" nillable="true" type="tns:Article" />
</xs:schema>